footer,
footer a,
footer i,
.btn.btn-primary {
  color: #ffffff;
}
footer {
  background-color: #929fba;
}
footer .oi,
.card-hotel .oi {
  padding: 0 10px;
}
footer .row > div {
  margin-top: 1.5rem;
  margin-bottom: initial;
  margin-left: initial;
  margin-right: initial;
}
footer .menu a {
  margin: 5px 10px;
}
.btn-contacto {
  margin-top: initial;
  margin-bottom: 15px;
  margin-left: initial;
  margin-right: initial;
}
.btn-reserva {
  border-radius: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}
.card-hotel {
  flex: 1 250px;
  margin: 20px 5px;
  padding: 10px;
  position: relative;
}
.card-hotel img {
  width: 100%;
}
.card-hotel p {
  display: inline-block;
  padding: 2px 5px;
}
.jumbotron {
  background-color: #e9ecef;
  margin-top: 35px;
  margin-bottom: initial;
  margin-left: initial;
  margin-right: initial;
}
.footer {
  padding: 10px 10px 0 10px;
  background-color: yellow;
  margin-bottom: 0;
}
.tab-content {
  margin-top: 10px;
  margin-bottom: initial;
  margin-left: initial;
  margin-right: initial;
}
