$gray: #929fba;
$white: #ffffff;
$yellow: yellow;
$blue: blue;

@mixin margenes($top, $botton, $left, $right) {
    margin-top: $top;
    margin-bottom: $botton;
    margin-left: $left;
    margin-right: $right; 
}

footer, footer a, footer i, .btn.btn-primary{
    color: $white;
}
footer{
    background-color: $gray;
}
footer .oi, .card-hotel .oi{
    padding: 0 10px;
}
footer .row > div{
    @include margenes( 1.5rem, initial, initial, initial);
}
footer .menu a{
    margin: 5px 10px;
}
.btn-contacto{
    @include margenes( initial, 15px, initial, initial);
}
.btn-reserva{
    border-radius: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}
.card-hotel{
    flex: 1 250px;
    margin: 20px 5px;
    padding: 10px;
    position: relative;
}
.card-hotel img{
    width: 100%;
}
.card-hotel p {
    display: inline-block;
    padding: 2px 5px;
}
.jumbotron{
    background-color: #e9ecef;
    @include margenes(35px, initial, initial, initial);
}
.footer{
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    margin-bottom: 0;
}

.tab-content{
    @include margenes(10px, initial, initial, initial);
}