<hr>
<footer>
    <div class="row col-12 align-self-center">
        <div class="col-sm-4 d-flex flex-column">
            <a href="https://www.facebook.com/" target="_blank">
                <i class="fa fa-facebook-square fa-3x"></i>
            </a>
            <a href="https://twitter.com/" target="_blank">
                <i class="fa fa-twitter-square fa-3x"></i>
            </a>
            <a href="https://instagram.com/" target="_blank">
                <i class="fa fa-instagram fa-3x"></i>
            </a>
            <a href="https://web.whatsapp.com/" target="_blank">
                <i class="fa fa-whatsapp fa-3x"></i>
            </a>
        </div>
        <div class="col-sm-4">
            <address>
                <h3>Oficina Central</h3>
                <p>
                    <span class="oi oi-home" title="home" aria-hidden="true"></span>
                    Bogotá, Colombia
                </p>
                <p>
                    <span class="oi oi-phone" title="phone" aria-hidden="true"></span>
                    +573002889183
                </p>
                <p>
                    <span class="oi oi-inbox" title="inbox" aria-hidden="true"></span>
                    <a href="mailto:edward.hernandez.corp@gmail.com">
                        edward.hernandez.corp@gmail.com
                    </a>
                    
                </p>
            </address>
        </div>
        <div class="col-sm-4 d-flex flex-column align-items-end menu">
            <a href="#">Sobre Nosotros</a>
            <a href="#">Productos</a>
            <a href="#">T&eacute;rminos y condiciones</a>
            <a href="#">Cont&aacute;ctenos</a>
        </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        Diseñando páginas web con Bootstrap 4 - Edward Hern&aacute:ndez
        </div>
        <!-- Copyright -->
</footer>
