<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a href="/" class="navbar-brand">Hoteles</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item link-home">
                <a href="index.html" class="nav-link">Home</a>
            </li>
            <li class="nav-item link-about">
                <a href="about.html" class="nav-link">Nosotros</a>
            </li>
            <li class="nav-item link-prices">
                <a href="prices.html" class="nav-link">Precios</a>
            </li>
            <li class="nav-item link-terms">
                <a href="terms.html" class="nav-link">Términos y Condiciones</a>
            </li>
            <li class="nav-item link-contact">
                <a href="contact.html" class="nav-link">Contacto</a>
            </li>
        </ul>
    </div>

</nav>